<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Tab</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <h1>For this section, we were asked to provide our name and student ID which can be found below.</h1>
    <p>Student Name: Keva Powell</p>
    <p>Student ID: 1054885</p>
  </div>

  
</ion-content>
